body {
background: #ee6363;
text-align: center; 
}
#main {
width: 1000px;
height: 650px;
background: #fff68f;
margin: 25px auto;
border: solid 2px #ee6363;
padding: 15px;
}
h1 {
text-align: center;
font-family: "Calibri";
font-size: 24pt;
color: #ee6363;
}
hr {
height: 2px;
color: #ee6363;
}
p {
font-family:"Calibri";
font-size: 16pt;
text-align: center;
text-indent: 0px;
color: #560419;
}
img {
border: solid 2px #ee6363
}